
# Lock mouse cursor to screen
LockMouse = true

# Restart level without loading screen after death
InstantRestart = true

# Don't wait for jingle and screen fade before starting to load
NoDelayLoadingScreen = true

# [F2] opens menu to quickly load any level. [Ctrl]+[R] restarts current level.
LevelMenu = false

# [F3] opens menu to visualize triggers and collisions. [F4] toggles visualization.
Visualizations = false

# Toggleable flight mode. Keybinding can be changed in launcher, default is [E]
Flying = false

# Save teleport with [Ctrl]+[0-9], teleport to saved position with [0-9]
Teleport = false

# Make mission 7 fruit counter work reliably after deaths/restarts
Mission7Fix = true

# Change number of fruit required in mission 8 (default 100)
Mission8Goal = 100

# Make platforms in mission 20 rotate at constant speed independent of framerate (baseline 60 Hz)
FramerateIndependentPlatforms = true
